<form method="POST">
  <div>ID</div><input type="text" name="id" value="{{_id}}" readonly>
<div>Tác Phẩm </div><input type="text"  name="title" value="{{title}}">
<div>Link ảnh  </div><textarea rows="2" name="cover">{{cover}}</textarea>
<div>Tác giả  </div><input name="author" type="text"  value="{{author}}">
<div>Giá </div><input name="basePrice" type="text"  value="{{basePrice}}">
<div>Nội dung  </div><textarea rows="3" name="detail">{{detail}}</textarea>
<div>Trạng thái (1: đang trưng bày; 0: ẩn) </div><input type="number" name="status" min="0" max="1" value="{{status}}">
<br>
<a href="/{{status}}"><input type="button" value="Huỷ"> </a>
<a href="/{{status}}/{{_id}}"><input type="submit" value="Cập nhật"></a>
</form>
